.login {
  background: url(../../../images/background.jpg);
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.loginForm::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  border-top: 2px solid #ffffff75;
  border-left: 2px solid #ffffff75;
  box-shadow: 5px 5px 12px #00000035;
  background: #ffffff35;
  border-radius: 15px;
  overflow: hidden;
  backdrop-filter: blur(5px);
  top: -10%;
  left: -10%;
  z-index: -1;
}

.loginForm {
  position: relative;
  z-index: 2;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
