.content {
  width: 356px;
  display: flex;
}

.container {
  width: 356px;
  padding: 15px;
}
.wrapper {
}
.nav {
  background: white;
  display: flex;
  flex-direction: column;
}
.caption {
  margin-bottom: 5px;
  padding-left: 25px;
  white-space: nowrap;
  transition: padding 0.25s;
}
