.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 100%;
  display: flex;
  padding: 15px;
}
.content {
  flex: 1;
  min-height: 1000px;
  padding-left: 296px;
  padding-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hidden {
  overflow: hidden;
  max-height: 100vh;
}
